<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div *ngIf="this.userPadre" class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Clinica</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ foto }}"
            alt=""
            srcset=""
            style="
              height: 30px;
              width: 30px;
              border-radius: 50%;
              border: 1px solid black;
            "
          />
          {{ nombre }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <button
              class="dropdown-item desloguear"
              type="button"
              (click)="irPefil()"
            >
              Mi perfil
            </button>
          </li>
          <li *ngIf="this.userPadre.tipo === 'profesional'">
            <button
              class="dropdown-item desloguear"
              type="button"
              (click)="irMisPaciente()"
            >
              Mis Pacientes
            </button>
          </li>

          <li *ngIf="this.userPadre.tipo === 'administrador'">
            <button
              class="dropdown-item desloguear"
              type="button"
              (click)="irListaUsuarios()"
            >
              Usuarios
            </button>
          </li>
          <li *ngIf="this.userPadre.tipo === 'administrador'">
            <button
              class="dropdown-item desloguear"
              type="button"
              (click)="irGraficos()"
            >
              Graficos
            </button>
          </li>
          <li>
            <button
              class="dropdown-item desloguear"
              type="button"
              (click)="logOut()"
            >
              Desloguearse
            </button>
          </li>
        </ul>
      </div>
      <!-- <span class="navbar-text"> Navbar text with an inline element </span> -->
    </div>
  </div>
</nav>
