<div class="full-background">
  <app-navbar></app-navbar>
  <div class="container-fluid d-flex justify-content-evenly align-items-center">
    <div class="card p-4 shadow mt-3" style="width: 30rem">
      <h2 class="text-center mb-4 mt-1">
        Bienvenido/a {{ user.nombre | titlecase }}!
      </h2>
      <form [formGroup]="formRegistro" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="fecha">Fecha</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            formControlName="fecha"
            min="{{ minDate() }}"
            max="{{ maxDate() }}"
            (change)="obtenerFechaSeleccionada($event)"
          />
          <label for="horario" class="form-label">Horario</label>
          <select class="form-select" id="horario" formControlName="horario">
            <option *ngFor="let horario of options" [value]="horario">
              {{ horario }}
            </option>
          </select>
          <label for="horario" class="form-label">Especialidades</label>
          <select
            class="form-select"
            id="especialidades"
            formControlName="especialidades"
          >
            <option
              *ngFor="let especialidad of especialidades"
              [ngValue]="especialidad"
            >
              {{ especialidad }}
            </option>
          </select>
          <button
            type="button"
            class="btn btn-primary mt-2"
            (click)="agregarHorario()"
          >
            Agregar horario
          </button>

          <div
            class="d-flex flex-column justify-content-center allign-items-center"
          >
            <div class="mt-5">
              <label for="horariosSeleccionados">Horarios Seleccionados</label>
              <ul>
                <li *ngFor="let horario of horarios.controls">
                  {{ horario.value }}
                </li>
              </ul>
            </div>
            <button type="submit" class="btn btn-success mt-3">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
