<div class="full-background">
  <app-navbar></app-navbar>
  <div class="container-fluid d-flex justify-content-start align-items-start">
    <div
      style="width: 30rem"
      class="card p-4 shadow mt-3"
      *ngIf="perfil === 'profesional'"
    >
      <h2 class="text-center mb-4 mt-1">
        Bienvenido/a {{ nombre | titlecase }}!
      </h2>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <form [formGroup]="formRegistro" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <h3>Elige dia y hora para todo el mes</h3>
            <label for="dia">Dia</label>
            <select
              class="form-select"
              name="dias"
              id="dias"
              formControlName="dias"
            >
              <option *ngFor="let dia of dias" [ngValue]="dia">
                {{ dia }}
              </option>
            </select>
            <label for="fecha">Horario</label>
            <input
              type="time"
              class="form-control"
              id="horario"
              min="08:00"
              max="18:00"
              formControlName="horario"
            />

            <label for="horario" class="form-label">Especialidades</label>
            <select
              class="form-select"
              id="especialidades"
              formControlName="especialidades"
            >
              <option
                *ngFor="let especialidad of especialidades"
                [ngValue]="especialidad"
              >
                {{ especialidad }}
              </option>
            </select>
            <button
              type="button"
              class="btn btn-primary mt-2"
              (click)="agregarFecha()"
            >
              Agregar horario
            </button>
          </div>
        </form>
      </div>
    </div>

    <table
      *ngIf="perfil === 'profesional'"
      class="table mt-3 ms-3"
      style="width: 770px"
    >
      <thead>
        <tr>
          <th scope="col">
            <div class="mt-1 mb-1">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                [(ngModel)]="searchAll"
              />
            </div>
          </th>
          <th scope="col">Paciente</th>
          <th scope="col">Altura</th>
          <th scope="col">Peso</th>
          <th scope="col">Presion</th>
          <th scope="col">Temperatura</th>
          <th scope="col">Caries</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of arrHistorial | buscarMiPefil : searchAll;
          let i = index
        "
      >
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.paciente }}</td>
          <td>{{ item.historial.altura }} cms</td>
          <td>{{ item.historial.peso }} kgs</td>
          <td>{{ item.historial.presion }} mmHg</td>
          <td>{{ item.historial.temperatura }} °C</td>
          <td>{{ item.historial.caries.caries }}</td>
        </tr>
      </tbody>
    </table>

    <div
      *ngIf="this.tipo === 'paciente'"
      style="width: 30rem"
      class="card p-4 shadow mt-3"
    >
      <h2 class="text-center mb-4 mt-1">
        Bienvenido/a {{ nombre | titlecase }}!
      </h2>
      <img [src]="imagen" alt="" srcset="" />
    </div>
    <table
      *ngIf="this.tipo === 'paciente'"
      class="table mt-3 ms-3"
      style="width: 770px"
    >
      <thead>
        <tr>
          <th scope="col">
            <div class="mt-1 mb-1">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                [(ngModel)]="searchAll"
              />
            </div>
          </th>
          <th scope="col">Medico</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Altura</th>
          <th scope="col">Peso</th>
          <th scope="col">Presion</th>
          <th scope="col">Temperatura</th>
          <th scope="col">Caries</th>
          <th scope="col">Historial</th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let item of arrHistorial | buscarMiPefil : searchAll;
          let i = index
        "
      >
        <tr>
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.medico }}</td>
          <td>{{ item.especialidad }}</td>
          <td>{{ item.historial.altura }} cms</td>
          <td>{{ item.historial.peso }} kgs</td>
          <td>{{ item.historial.presion }} mmHg</td>
          <td>{{ item.historial.temperatura }} °C</td>
          <td>{{ item.historial.caries.caries }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="descargarHistorial(item)"
            >
              Descargar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
