.full-background {
  width: auto;
  height: auto;
}

:host {
  display: block; /* Ensures the :host element is block-level */
  background-image: url("/assets/pattern.jpg");
}

.panelusuarios {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 850px;
}
