.full-background {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the content area is at least the height of the viewport */
  width: 100%;
}

:host {
  display: block; /* Ensures the :host element is block-level */
  background-image: url("/assets/pattern.jpg");
}

.panelusuarios {
  background-color: #8ecae6;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 850px;
  box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.2);
  height: 750px;
}
