<div class="full-background">
  <app-navbar></app-navbar>
  <div
    class="d-flex flex-row justify-content-start align-items-start mt-3 ms-3"
  >
    <div class="d-flex flex-row justify-content-center allign-item-center">
      <div style="overflow-y: scroll; height: 800px">
        <table class="table especialidades">
          <thead>
            <tr>
              <th scope="col">Especialidad</th>
            </tr>
          </thead>
          <tbody
            *ngFor="let item of opciones; let i = index"
            (click)="getEspecialidadesOpciones(item.valor, i)"
          >
            <tr [ngClass]="{ 'table-primary': selectedRow === i }">
              <!-- <th scope="row">{{ i + 1 }}</th> -->

              <td
                class="d-flex flex-row justify-content-center allign-item-center"
              >
                <button
                  class="btn btn-primary"
                  style="width: 350px; border-radius: 20px"
                >
                  <img
                    [src]="item.foto"
                    alt=""
                    srcset=""
                    style="width: 50px; height: 50px"
                  />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="d-flex flex-column justify-content-center allign-item-center ms-3"
    >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody
          *ngFor="
            let item of arrProfesionales
              | filtro : searchEspecialista
              | paginate
                : { itemsPerPage: 5, currentPage: p, id: 'profesionales' };
            let i = index
          "
          (click)="elegirMedico(item)"
        >
          <tr>
            <td>
              <button
                class="btn btn-primary"
                style="width: 350px; border-radius: 20px"
              >
                <img
                  src="{{ item.imagenes }}"
                  alt="..."
                  style="height: 50px; width: 50px"
                />
                <br />
                {{ item.nombre }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex flex-row justify-content-center allign-item-center">
        <table class="table" style="width: 350px">
          <thead>
            <tr>
              <th scope="col">Dia</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of fechas; let i = index"
              [ngClass]="{ 'table-primary': selectedRow === i }"
              (click)="elegirHorario(item)"
            >
              <td>
                <button class="btn btn-primary" style="width: 350px">
                  {{ item.fecha  }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class="table" style="width: 350px">
        <thead>
          <tr>
            <th scope="col">Horario</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of horarios[0]; let i = index"
            [ngClass]="{ 'table-primary': selectedRow === i }"
            (click)="solicitarTurno(item)"
          >
            <td>
              <button class="btn btn-primary" style="width: 350px">
                {{ item.timestamp | convertirfecha | date : "shortTime" }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div class="card p-4 shadow ms-3 mt-3" style="padding: 20px">
        <h4>Turnos</h4>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Medico</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Hora</th>
                <th scope="col">Estado</th>
                <th scope="col">Calificar Medico</th>
                <th scope="col">Encuesta</th>
              </tr>
            </thead>
            <tbody
              *ngFor="
                let item of arrTurnos
                  | paginate
                    : { itemsPerPage: 5, currentPage: ptwo, id: 'turnos' };
                let i = index
              "
            >
              <tr [ngClass]="item.estado | coloresturnos">
                <th scope="row">{{ i + 1 }}</th>
                <td (click)="manejoTurno(item)">{{ item.medico }}</td>
                <td (click)="manejoTurno(item)">{{ item.especialidad }}</td>
                <td (click)="manejoTurno(item)">
                  {{ item.hora | convertirfecha | date : "shortTime" }}
                </td>
                <td (click)="manejoTurno(item)">{{ item.estado }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="item.estado !== 'realizado'"
                    (click)="calificarMedico(item)"
                  >
                    Calificar
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="
                      item.estado !== 'realizado' && item.comentario !== null
                    "
                    (click)="realizarEncuesta(item)"
                  >
                    Encuesta
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="ptwo = $event"
            id="turnos"
            class="my-pagination"
          ></pagination-controls>
        </div>
      </div>
    </div>

    <!-- <div class="d-flex flex-row justify-content-center align-items-center">
    <div *ngIf="user.tipo === 'administrador'">
      <div class="card p-4 shadow me-3 mt-3" style="padding: 20px">
        <h4>Pacientes</h4>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
              </tr>
            </thead>
            <tbody
              *ngFor="
                let item of arrPacientes
                  | paginate
                    : { itemsPerPage: 5, currentPage: p3, id: 'pacientes' };
                let i = index
              "
            >
              <tr (click)="elegirUsuario(item)">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img
                    src="{{ item.imagenes }}"
                    alt=""
                    srcset=""
                    style="height: 50px; width: 50px"
                  />
                </td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellido }}</td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="p3 = $event"
            id="pacientes"
            class="my-pagination"
          ></pagination-controls>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center panelusuarios"
    >
      <div class="d-flex flex-column justify-content-center align-items mt-3">
        <h4>Buscar por Especialista/Especialidad</h4>
        <div class="mt-1 mb-1">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar profesional"
            [(ngModel)]="searchEspecialista"
          />
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Especialidad</th>
          </tr>
        </thead>
        <tbody
          *ngFor="
            let item of arrProfesionales
              | filtro : searchEspecialista
              | paginate
                : { itemsPerPage: 5, currentPage: p, id: 'profesionales' };
            let i = index
          "
          (click)="solicitarTurno(item)"
        >
          <tr [ngClass]="item.autorizado">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <img
                src="{{ item.imagenes }}"
                alt="..."
                style="height: 50px; width: 50px"
              />
            </td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.apellido }}</td>
            <td>{{ item.especialidad }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        (pageChange)="p = $event"
        id="profesionales"
        class="my-pagination"
      ></pagination-controls>
    </div>
    <div>
      <div class="card p-4 shadow ms-3 mt-3" style="padding: 20px">
        <h4>Turnos</h4>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Medico</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Hora</th>
                <th scope="col">Estado</th>
                <th scope="col">Calificar Medico</th>
                <th scope="col">Encuesta</th>
              </tr>
            </thead>
            <tbody
              *ngFor="
                let item of arrTurnos
                  | paginate
                    : { itemsPerPage: 5, currentPage: ptwo, id: 'turnos' };
                let i = index
              "
            >
              <tr [ngClass]="item.estado | coloresturnos">
                <th scope="row">{{ i + 1 }}</th>
                <td (click)="manejoTurno(item)">{{ item.medico }}</td>
                <td (click)="manejoTurno(item)">{{ item.especialidad }}</td>
                <td (click)="manejoTurno(item)">{{ item.hora }}</td>
                <td (click)="manejoTurno(item)">{{ item.estado }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="item.estado !== 'realizado'"
                    (click)="calificarMedico(item)"
                  >
                    Calificar
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="
                      item.estado !== 'realizado' && item.comentario !== null
                    "
                    (click)="realizarEncuesta(item)"
                  >
                    Encuesta
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="ptwo = $event"
            id="turnos"
            class="my-pagination"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
